.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a, h1,h2,h3,h4  {
        color: $gris;
    }

    .anuncio, 
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }
        .icono {
            filter: invert(100%);
        }
    }
    

    .texto-nosotros blockquote {
        color: $blanco;
    }

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]), 
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

/** Tabla admin **/
    table.propiedades {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

        thead {
            background-color: darken($verde, 15%);

            th {
                border-bottom: 2px solid darken($grisOscuro, 20%);
            }
        }

        tbody {

            tr {
                &:nth-child(even) {
                    background-color: darken($grisOscuro, 5%);
                }

                &:hover {
                    background-color: lighten($grisOscuro, 15%);
                }
            }

            td {
                color: $blanco;
                border-bottom: 1px solid darken($grisOscuro, 10%);

            }
            .imagen-tabla {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            }
        }

        .boton-rojo-block,
        .boton-amarillo-block {
            color: $blanco;
            border-radius: 4px;
            font-weight: bold;
            transition: background-color 0.3s ease;

            &:hover {
                opacity: 0.9;
            }
        }

        .boton-amarillo-block {
            color: $gris;
        }
    }
}